@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome to Agri-Energy Connect</h2>

<div>
    <a href="/Home/FarmerLogin" class="btn btn-success">Farmer Login</a>
    <a href="/Home/EmployeeLogin" class="btn btn-primary">Employee Login</a>
</div>
